.task-ilo-alignment-editor {
  .alignment-panels .panel-body {
    overflow: scroll;
  }

  table.table-task-alignment {
    td.ilo-alignment {
      position: relative;
      .btn.btn-alignment {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: none;
        padding: 0.25em;
        border-radius: 0;
        &:not(:hover) {
          background-color: transparent;
        }
      }
    }
  }

  .visualisation {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    opacity: 0.6;
    margin: 0;
    border-radius: 0;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
